body {
    color:orange;
    font-family: 'Hepta Slab', serif;
 background-image: url('https://i.pinimg.com/originals/2a/81/4c/2a814ce3326cc146df6cff30a5b44470.png')
}

a {
    padding: 3px 2px 5px
}

form {
    margin-bottom 7000px;

}

